---
import { languages } from '../i18n/ui';
import { getLangFromUrl } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
---
<ul class="flex gap-2">
  {Object.entries(languages).map(([label, name]) => (
    <li>
      <a 
        href={`/${label}/`} 
        class={`px-2 py-1 rounded transition-colors ${lang === label ? 'font-bold underline' : 'hover:bg-black/5 dark:hover:bg-white/10'}`}
      >
        {label.toUpperCase()}
      </a>
    </li>
  ))}
</ul>
