---
import Layout from '../../layouts/Layout.astro';
import { languages } from '../../i18n/ui';
import { useTranslations } from '../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);
---

<Layout title={t('site.title')} lang={lang as string} description={t('site.description')}>
  <h1 class="text-4xl font-bold text-primary-light dark:text-primary-dark mb-4 text-center px-4">{t('site.title')}</h1>
  <p class="text-lg opacity-80 text-center px-4">{t('site.description')}</p>
</Layout>
