---
import Layout from '../../layouts/Layout.astro';
import ExchangeDashboard from '../../components/ExchangeDashboard.astro';
import { languages } from '../../i18n/ui';
import { useTranslations } from '../../i18n/utils';

export function getStaticPaths() {
  return Object.keys(languages).map((lang) => ({ params: { lang } }));
}

const { lang } = Astro.params;
const t = useTranslations(lang as any);
---

<Layout title={t('site.title')} lang={lang as string} description={t('site.description')}>
  <div class="w-full space-y-8">
    <ExchangeDashboard />
  </div>
</Layout>
